html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-bg {
    background: linear-gradient(300deg, #FC0A9C, #E20AFC, #430AFC, #FE0001, #EB5EFC);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite !important;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.glow-effect {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.glow-effect:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(59, 130, 246, 0.7);
}

/* Ripple Effect */
.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}